.cardItems {
	display: flex;
	flex-direction: column;
	gap: 23px;
	width: 300px;
	height: 350px;
	background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 0%, #F1F2F1 100%);
	border-radius: 16px;
	padding: 24px 16px;
}

.typeBox {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.type {
	background-color: var(--type);
	padding: 7px 8px;
}

.article {
	font-size: 15px;
	font-weight: 400;
}

.sizes {
	width: max-content;
	background-color: var(--type);
	border: 1px solid red;
	border-radius: 4px;
	padding: 6px 7px;
}

.image {
	margin: 0 auto;
}